.navbar{
    list-style-type: none;
    margin-right: 30px;
}

.navbar-list-item{
    margin-left: 50px;
}

.navbar-link{
    color: white;
    font-size: 35px;
    text-decoration:none;
    text-shadow: black 0.1em 0.1em 0.2em; 

}

.navbar-link:hover{
    text-decoration: none;
    color: rgb(123, 209, 217);
}